body{
    background-color: indianred;

}

label {
  display: block;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
  font-size: 16px;
}


input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 20px;


input[type="submit"] {
  background-color: #0066cc;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
  background-color: #0052a3 ;
}

input {
  border: 20px solid #ccc;
  padding: 200px;
}


input:focus {
  outline: none; 
  border-color: #2196F3;
  box-shadow: 50px rgba(33, 150, 243, 0.5); 
  background-color: #f0f8ff; 
}